@using VerbalCounting.Web.Providers
@model Example

@{
	ViewData["Title"] = "Index";
	Example succes = (Example)ViewData["Success"];
	string fail = (string)ViewData["Fail"];
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>

	@if (succes != null)
	{
		<p class="text-success">@succes.Left @succes.Operator @succes.Right = @succes.Result</p>
	}
	else if (fail != null)
	{
		<p class="text-danger font-weight-bold">@Model.Left @Model.Operator @Model.Right = @fail</p>
	}

	<form method="post">
		<input type="hidden" name="@nameof(Example.Template)" value="@(Model.Template)" />
		<input type="hidden" name="@nameof(Example.Left)" value="@(Model.Left)" />
		<input type="hidden" name="@nameof(Example.Operator)" value="@(Model.Operator)" />
		<input type="hidden" name="@nameof(Example.Right)" value="@(Model.Right)" />
		<p>@Model.Left @Model.Operator @Model.Right = <input type="text" name="@nameof(Example.Result)" autofocus  autocomplete="off" /></p>
		<p><input type="submit" value="calc" /></p>
	</form>
</div>

